@inherits CommonBase
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]
<EditForm Model="_address" OnSubmit="HandleSaveClick" FormName="AddressDetail">

<div class="row">
    <div class="col-2">
        <label class="form-label">Street Address</label>
    </div>
    <div class="col-10">
        <InputText @bind-Value="_address.StreetAddress" />
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label class="form-label">Street Address 2</label>
    </div>
    <div class="col-10">
        <InputText @bind-Value="_address.StreetAddress2" />
    </div>
</div>

<div class="row">
    <div class="col-2">
        <label class="form-label">City</label>
    </div>
    <div class="col-4">
        <InputText @bind-Value="_address.City" />
    </div>
    <div class="col-2">
        <label class="form-label">State</label>
    </div>
    <div class="col-4">
        <InputText @bind-Value="_address.State" />
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label class="form-label">Postal Code</label>
    </div>
    <div class="col-3">
        <InputText @bind-Value="_address.PostalCode" />
    </div>
</div>

<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-danger" type="button" @onclick="HandleCancelClick">Cancel</button>
    </div>

</div>

</EditForm>