@page "/addresses"
@inherits CommonBase

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]
<PageTitle>Addresses</PageTitle>


<h1>Addresses</h1>


<AddressGrid AddressServiceManager="AddressServiceManager"></AddressGrid>