@page "/addresses"
@inherits CommonBase

@attribute [StreamRendering]

<PageTitle>Addresses</PageTitle>


<h1>Addresses</h1>


<AddressGrid AddressServiceManager="_addressServiceManager"></AddressGrid>